body {
	background-color: #145a32;
	color: #f7f7f7;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#container {
	width: 360px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0, .5);
}
input {
	font-family: inherit;
	font-size: 18px;
	background-color: #f7dc6f;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border:none;
}
input:focus {
	outline: none;
}
span {
	height: 60px;
	text-align: center;
	width: 60px;
	float: right;
}
h1 {
	background-color: #f7dc6f;
	margin: 0;
	padding: 10px 20px;
	font-size: 24px;
}
li {
	background-color: #f1948a;
	height: 60px;
	line-height: 60px;
	padding: 0 0 0 20px;
}
li:nth-child(2n){
	background-color: #455a64;
}
.done {
	color:gray;
	text-decoration: line-through;
}